@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  --main-color: #fb5849;
  --background-color-1: #ffffff;
  --background-color-2: #fffafa;
  --background-color-3: #2a2a2a;
  --background-color-4: #fb5849;
  --background-transparent-color-1: #2a2a2adf;
  --background-transparent-color-2: #00000080;
  --text-color-1: #fb5849;
  --text-color-2: #2a2a2a;
  --text-color-3: #ffffff;
  --gray-color-1: #f4f4f4;
  --gray-color-2: #d1d1d1;
  --width-container: 120rem;
  --padding-vertical-section: 9.6rem;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 1.4rem;
  padding: 1.2rem 2.4rem;
  background-color: var(--background-color-1);
  border-radius: 3.5px;
  cursor: pointer;
  outline: none;
  border: none;
  font-family: inherit;
  font-weight: 600;
  color: var(--text-color-2);
  transition: opacity 0.3s;
}

.btn:hover {
  opacity: 0.85;
}

img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

h2 {
  color: var(--text-color-1);
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: 2px;
  display: flex;
  align-items: center;
}

h2::before {
  content: "";
  display: inline-block;
  height: 1px;
  width: 30px;
  background-color: currentColor;
  margin-right: 1rem;
}

h3 {
  font-size: 3rem;
  font-weight: 900;
  padding: 2rem 0;
  margin-bottom: 1.5rem;
}

p {
  font-size: 1.4rem;
  line-height: 1.8;
  font-weight: 400;
}

.logo a {
  display: flex;
  align-items: center;
  font-family: "Dancing Script", cursive;
  font-size: 3.6rem;
  font-weight: bold;
}

.logo .logo-icon {
  font-size: 4.4rem;
  margin-right: 0.8rem;
  color: var(--main-color);
}

.container {
  max-width: var(--width-container);
  margin: 0 auto;
  padding: 0 2.4rem;
}

.price {
  background-color: var(--background-color-4);
  width: 7rem;
  height: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: 700;
}

.social-icon-list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
}

.social-icon-link {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  font-size: 1.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s;
}

@media only screen and (max-width: 1050px) {
  :root {
    --width-container: 80rem;
  }
}

@media only screen and (max-width: 500px) {
  html {
    font-size: 50%;
  }
}

/******************** HEADER ********************/

.header {
  background-color: var(--background-color-1);
  position: relative;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.6rem;
  height: 8.5rem;
}

.nav-list {
  display: flex;
  gap: 2.4rem;
  list-style: none;
  user-select: none;
}

.nav-list a:link,
.nav-list a:visited {
  padding: 0.8rem 0;
  color: var(--text-color-2);
  font-weight: 600;
  font-size: 1.4rem;
  letter-spacing: 1px;
  transition: color 0.3s, background-color 0.3s;
}

.nav-list a:hover,
.nav-list a:active {
  color: var(--text-color-1);
}

.menu-button {
  cursor: pointer;
  display: none;
  height: 5.5rem;
  width: 5.5rem;
  font-size: 2.5rem;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s;
}

.menu-button:hover {
  background-color: var(--gray-color-1);
}

@media only screen and (max-width: 1050px) {
  .menu-button {
    display: flex;
  }

  .menu-button .icon-open-nav {
    display: inline-block;
  }

  .menu-button .icon-close-nav {
    display: none;
  }

  .nav {
    display: block;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    background-color: var(--background-color-1);
    max-width: 60rem;
    width: 100%;
    overflow-y: hidden;
    max-height: 0;
    transition: max-height 0.6s;
  }

  .nav.show {
    max-height: 27rem;
  }

  .nav.show + .menu-button .icon-close-nav {
    display: inline-block;
  }

  .nav.show + .menu-button .icon-open-nav {
    display: none;
  }

  .nav-list {
    flex-direction: column;
    gap: 0;
    width: 100%;
  }

  .nav-list li {
    border-top: 1px solid var(--gray-color-1);
  }

  .nav-list a:link,
  .nav-list a:visited {
    width: 100%;
    text-align: center;
  }

  .nav-list a:hover {
    background-color: var(--gray-color-1);
  }
}

@media only screen and (max-width: 500px) {
  .nav {
    max-width: 100%;
  }

  .nav.show {
    max-height: 50rem;
    left: 0;
    right: 0;
    transform: none;
  }

  .nav-list a:link,
  .nav-list a:visited {
    padding: 2.4rem 0;
    font-size: 1.6rem;
  }
}

/******************** HERO ********************/

.hero-section {
  position: relative;
  height: calc(100vh - 8.5rem);
}
.hero-video-bg {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.hero-text-content {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  color: var(--text-color-3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--background-transparent-color-1);
}

.hero-text-content .title {
  font-size: 6.2rem;
  font-family: "Dancing Script", cursive;
  margin-bottom: 0.2rem;
}

.hero-text-content .subtitle {
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 3px;
  margin-bottom: 2.4rem;
}

.btn-main:link,
.btn-main:visited {
  color: var(--text-color-1);
  text-transform: capitalize;
  backface-visibility: hidden;
}

/******************** ABOUT US ********************/

.nosotros-section {
  padding: 0;
}

.nosotros-content.container {
  display: grid;
  grid-template-columns: 1fr 1.4fr;
  gap: 5rem;
  margin: 0 0 0 auto;
  max-width: 139.15rem;
  padding: 0 0 0 2.4rem;
}

.nosotros-text-content {
  padding: var(--padding-vertical-section) 0;
}

.nosotros-content p {
  margin-bottom: 2.5rem;
}

.nosotros-pictures {
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
}

.nosotros-pictures img {
  flex: 1;
  min-width: 0;
}

.nosotros-slider-container {
  position: relative;
  overflow-x: hidden;
}

.nosotros-slider {
  height: 100%;
  display: flex;
}

.nosotros-slider.transition {
  transition: transform 0.4s linear;
}

.nosotros-slider-item {
  flex: 0 0 100%;
}

.nosotros-slider-buttons > button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--background-color-4);
  border: none;
  cursor: pointer;
  border-radius: 50%;
  height: 5rem;
  width: 5rem;
  opacity: 0.5;
  transition: opacity 0.2s;
  outline: none;
}

.nosotros-slider-buttons button:hover {
  opacity: 1;
}

.nosotros-slider-buttons img {
  position: absolute;
  width: 2.5rem;
  height: 2.5rem;
  top: 50%;
}

.nosotros-slider-buttons .prev-btn-img {
  left: 40%;
  transform: translate(-50%, -50%);
}

.nosotros-slider-buttons .next-btn-img {
  right: 40%;
  transform: translate(50%, -50%);
}

.nosotros-slider-buttons .nosotros-slider-prev-btn {
  left: 3rem;
}

.nosotros-slider-buttons .nosotros-slider-next-btn {
  right: 3rem;
}

@media only screen and (max-width: 1050px) {
  .nosotros-section {
    padding: var(--padding-vertical-section) 0;
  }
  .nosotros-content.container {
    grid-template-columns: 1fr;
    gap: 4rem;
    padding: 0 2.4rem;
  }

  .nosotros-text-content {
    padding: 0;
    max-width: var(--width-container);
    margin: 0 auto;
  }

  .nosotros-slider-container {
    margin: 0 -2.4rem;
  }
}

@media only screen and (max-width: 500px) {
  .nosotros-slider-container {
    height: 30rem;
  }

  .nosotros-slider-buttons .nosotros-slider-prev-btn {
    left: 2rem;
  }

  .nosotros-slider-buttons .nosotros-slider-next-btn {
    right: 2rem;
  }
}

/******************** NUESTROS PLATOS ********************/

.platos-section {
  background-color: var(--background-color-2);
  padding: var(--padding-vertical-section) 0;
}

.platos-gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 34rem;
}

.platos-item-info {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  backface-visibility: hidden;
}

.platos-item-price {
  position: absolute;
  top: 0;
  right: -7rem;
  transition: right 0.4s;
}

.platos-item-description {
  position: absolute;
  width: 100%;
  top: 100%;
  background-color: var(--background-color-4);
  padding: 2rem;
  transition: transform 0.4s;
}

.platos-img-container {
  overflow: hidden;
  position: relative;
  color: var(--text-color-3);
}

.platos-img-container img {
  transition: transform 0.4s;
}

.platos-img-container:hover img {
  transform: scale(1.2);
}

.platos-img-container:hover .platos-item-price {
  right: 0;
}
.platos-img-container:hover .platos-item-description {
  transform: translateY(-100%);
}

@media only screen and (max-width: 900px) {
  .platos-gallery {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 40rem;
  }
}

@media only screen and (max-width: 768px) {
  .platos-gallery {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 38rem;
  }
}

@media only screen and (max-width: 500px) {
  .platos-gallery {
    grid-template-columns: 1fr;
    grid-auto-rows: 48rem;
    gap: 2rem;
    padding: 0 2.4rem;
  }
}
/******************** CHEFS SECTION ********************/

.chefs-section {
  background-color: var(--background-color-1);
  padding: var(--padding-vertical-section) 0;
}

.chefs-cards-container {
  display: flex;
  gap: 2rem;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.chefs-card {
  border: 1px solid rgb(163, 163, 163);
  border-radius: 3px;
  padding: 0.8rem;
  padding-bottom: 3.2rem;
  flex: 0 0 32rem;
  transition: border-color 0.3s;
}

.chefs-card-picture {
  display: block;
  position: relative;
  margin-bottom: 1.8rem;
}

.chefs-card .social-icon-list {
  background-color: var(--background-transparent-color-2);
  border-radius: 3px;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  transition: opacity 0.3s;
}

.chefs-card .social-icon-link {
  background-color: var(--background-color-2);
  color: var(--text-color-2);
}

.chefs-card .social-icon-link:hover {
  background-color: var(--background-color-4);
}

.chefs-card:hover .social-icon-list {
  visibility: visible;
  opacity: 1;
}

.chefs-card h4 {
  text-align: center;
  font-size: 2rem;
  transition: color 0.3s;
}

.chefs-card:hover h4 {
  color: var(--text-color-1);
}

.chefs-card p {
  text-align: center;
  font-size: 1.6rem;
}

.chefs-card:hover {
  border-color: var(--text-color-1);
}

@media only screen and (max-width: 500px) {
  .chefs-card {
    flex: 0 1 32rem;
  }
}

/******************** MENU ********************/

.menu-section {
  background-color: var(--background-color-2);
  padding: var(--padding-vertical-section) 0;
}

.menu-tab-selectors {
  display: flex;
  justify-content: center;
  gap: 1.6rem;
  margin-bottom: 4rem;
}

.btn-tab-selector {
  background-color: inherit;
  border: none;
  color: var(--text-color-1);
  flex: 0 1 10rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn-tab-selector.selected p {
  color: var(--text-color-1);
}

.btn-tab-selector img {
  margin-bottom: 1.6rem;
}

.btn-tab-selector p {
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--text-color-2);
  transition: color 0.3s;
}

.menu-items-container {
  display: none;
  grid-template-columns: repeat(2, 1fr);
  gap: 4.8rem;
}

.menu-items-container.show {
  display: grid;
}

.menu-item {
  display: flex;
  gap: 1.6rem;
}

.menu-item-img {
  border-radius: 0.5rem;
  height: 10rem;
  width: 10rem;
  flex: 0 1 10rem;
}

.menu-item-details {
  padding: 1.2rem 0;
}

.menu-item-details h4 {
  font-size: 2rem;
  margin-bottom: 0.4rem;
}

.menu-item-details p {
  line-height: 1.6;
}

.menu-item-price.price {
  color: var(--text-color-3);
  flex: 0 0 auto;
}

@media only screen and (max-width: 1050px) {
  .menu-items-container.show {
    grid-template-columns: 1fr;
  }
}

/******************** CONTACTO ********************/

.contacto-section {
  background-image: url("../images/reservation-bg.jpg"),
    linear-gradient(
      0deg,
      var(--background-transparent-color-2),
      var(--background-transparent-color-2)
    );
  padding: var(--padding-vertical-section) 0 0;
}

.contacto-content {
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  gap: 3.2rem;
  font-size: 1.4rem;
  margin-bottom: 3.2rem;
}

.contacto-details {
  color: var(--text-color-3);
}

.contacto-details > p {
  margin-bottom: 6.4rem;
}

.contacto-cards-container {
  display: flex;
  flex-wrap: wrap;
  color: var(--text-color-2);
  gap: 2.4rem;
}

.contacto-card {
  flex: 1;
  background-color: var(--background-color-2);
  border-radius: 4px;
  padding-top: 4.8rem;
  padding-bottom: 1.6rem;
  position: relative;
  text-align: center;
}

.contacto-card-icon {
  position: absolute;
  left: 50%;
  top: -2.5rem;
  transform: translateX(-50%);
  background-color: var(--background-color-4);
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  color: var(--text-color-3);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.4rem;
}

.contacto-card h4 {
  font-size: 2rem;
  margin-bottom: 1.2rem;
}

.contacto-form-container {
  background-color: var(--background-color-2);
  border-radius: 4px;
  padding: 4.8rem 3.2rem;
}

.contacto-form-container h3 {
  text-align: center;
  font-weight: 700;
  padding: 0;
  margin-bottom: 1.6rem;
}

.contacto-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.2rem;
}

.contacto-form textarea {
  grid-column: 1 / -1;
  resize: none;
}

.contacto-form .input-field,
.contacto-form textarea {
  min-width: 0;
  border-radius: 4px;
  border: 1px solid var(--gray-color-2);
  font-family: inherit;
  padding: 1.2rem 1.6rem;
  outline: none;
}

.contacto-form .input-field:focus,
.contacto-form textarea:focus {
  border-color: var(--text-color-1);
}

.btn-submit {
  grid-column: 1 / -1;
  background-color: var(--background-color-4);
  color: var(--text-color-3);
}

.contacto-map {
  height: 42rem;
}

.contacto-map iframe {
  display: inline-block;
  width: 100%;
  height: 100%;
  border: none;
}

@media only screen and (max-width: 1050px) {
  .contacto-content {
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 768px) {
  .contacto-cards-container {
    gap: 6rem;
  }

  .contacto-card {
    flex: 0 1 100%;
  }
}

@media only screen and (max-width: 600px) {
  .contacto-form-container {
    padding: 2.5rem 1.8rem;
    min-width: 0;
  }

  .contacto-form {
    grid-template-columns: 1fr;
  }
}

/******************** FOOTER ********************/

.footer {
  background-color: var(--background-color-4);
  padding: 5rem 0;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-content .social-icon-list {
  gap: 1.6rem;
}

.footer-content .social-icon-link {
  background-color: var(--background-color-1);
  color: var(--main-color);
  transition: color 0.3s;
}

.footer-content .social-icon-link:hover {
  color: var(--text-color-2);
}

.footer-logo.logo,
.footer-logo.logo .logo-icon {
  color: var(--text-color-3);
}

.footer-copy {
  color: var(--text-color-3);
  font-size: 1.4rem;
}

@media only screen and (max-width: 900px) {
  .footer-content {
    flex-direction: column;
    align-items: center;
    gap: 3.2rem;
  }

  .footer-copy {
    text-align: center;
  }
}
