@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #fb5849;
  --background-color-1: #fff;
  --background-color-2: #fffafa;
  --background-color-3: #2a2a2a;
  --background-color-4: #fb5849;
  --background-color-4-with-transparency: #fb584980;
  --background-color-3-with-transparency: #2a2a2adf;
  --text-color-1: #fb5849;
  --text-color-2: #2a2a2a;
  --text-color-3: #ffffff;
  --gray-color-1: #f4f4f4;

  --width-container: 110rem;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

.btn {
  display: inline-block;
  text-decoration: none;
  font-size: 1.3rem;
  padding: 1.2rem 2.5rem;
  background-color: var(--background-color-1);
  border-radius: 3.5px;
  cursor: pointer;
  outline: none;
  border: none;
  font-family: inherit;
  font-weight: 600;
  color: var(--text-color-2);
}

img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

h2 {
  color: var(--text-color-1);
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: 2px;
  display: flex;
  align-items: center;
}

h2::before {
  content: "";
  display: inline-block;
  height: 1px;
  width: 30px;
  background-color: currentColor;
  margin-right: 1rem;
}

h3 {
  font-size: 3rem;
  font-weight: 900;
  padding: 2rem 0;
  margin-bottom: 1.5rem;
}

@media only screen and (max-width: 1050px) {
  :root {
    --width-container: 80rem;
  }
}

@media only screen and (max-width: 500px) {
  html {
    font-size: 50%;
  }
}

/******************** HEADER ********************/

.header {
  background-color: var(--background-color-1);
}

.header-content {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: var(--width-container);
  padding: 0 2rem;
  margin: 0 auto;
  min-height: 8.5rem;
}

.logo a {
  display: flex;
  align-items: center;
  padding: 2.2rem 0 1.4rem 0;
  font-family: "Dancing Script", cursive;
  font-size: 3.5rem;
  font-weight: bold;
}

.logo .logo-icon {
  font-size: 4rem;
  margin-right: 0.8rem;
  color: var(--main-color);
}

.nav-list {
  display: flex;
  user-select: none;
}

.nav-list li {
  list-style-type: none;
  margin-right: 2.5rem;
}

.nav-list li:last-child {
  margin-right: 0;
}

.nav-list a {
  padding: 1rem 0;
  color: var(--text-color-2);
  font-weight: 600;
  font-size: 1.5rem;
  letter-spacing: 1px;
  transition: color 0.3s, background-color 0.3s;
}

.nav-list a:hover {
  color: var(--text-color-1);
}

.menu-button {
  cursor: pointer;
  display: none;
  height: 5.5rem;
  width: 5.5rem;
  font-size: 2.5rem;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s;
}

.menu-button:hover {
  background-color: var(--gray-color-1);
}

@media only screen and (max-width: 1050px) {
  .menu-button {
    display: flex;
  }

  .nav {
    display: block;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    background-color: var(--background-color-1);
    max-width: 60rem;
    width: 100%;

    overflow-y: hidden;
    max-height: 0;
    transition: max-height 0.6s;
  }

  .nav.show {
    max-height: 27rem;
  }

  .nav-list {
    flex-direction: column;
    width: 100%;
  }

  .nav-list li {
    margin-right: 0;
    border-top: 1px solid var(--gray-color-1);
  }

  .nav-list a {
    width: 100%;
    text-align: center;
  }

  .nav-list a:hover {
    background-color: var(--gray-color-1);
  }
}

@media only screen and (max-width: 500px) {
  .nav.show {
    max-height: 36rem;
    left: 0;
    right: 0;
    transform: none;
  }

  .nav-list a {
    padding: 1.5rem 0;
    font-size: 1.6rem;
  }
}

/******************** MAIN ********************/

.main {
  position: relative;
  height: calc(100vh - 8.5rem);
}
.hero-video-bg {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.hero-content {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  color: var(--text-color-3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color-3-with-transparency);
}

.hero-content .title {
  font-size: 5.5rem;
  font-family: "Dancing Script", cursive;
  margin-bottom: 0.2rem;
}

.hero-content .subtitle {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 3px;
  margin-bottom: 2.2rem;
}

.btn-main {
  color: var(--text-color-1);
  text-transform: capitalize;
  transition: opacity 0.3s;
  backface-visibility: hidden;
}

.btn-main:hover {
  opacity: 0.9;
}

.main-right {
  /* flex: 1; */
  position: relative;
  overflow-x: hidden;
}

.main-slider {
  height: 100%;
  display: flex;
}

.main-slider.transition {
  transition: transform 0.6s linear;
}

.main-slider img {
  object-position: left;
}

.main-slider-buttons > button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--background-color-4);
  border: none;
  cursor: pointer;
  border-radius: 50%;
  height: 5rem;
  width: 5rem;
  opacity: 0.5;
  transition: opacity 0.2s;
  outline: none;
}

.main-slider-buttons button:hover {
  opacity: 1;
}

.main-slider-buttons img {
  position: absolute;
  width: 2.5rem;
  height: 2.5rem;
  top: 50%;
}

.main-slider-buttons .prev-btn-img {
  left: 40%;
  transform: translate(-50%, -50%);
}

.main-slider-buttons .next-btn-img {
  right: 40%;
  transform: translate(50%, -50%);
}

.main-slider-buttons .main-slider-prev-btn {
  left: 3rem;
}

.main-slider-buttons .main-slider-next-btn {
  right: 3rem;
}

@media only screen and (max-width: 1050px) {
  .main-left {
    flex: 0 0 100%;
    height: 60vw;
  }

  .hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .main-right {
    flex: 0 0 100%;
    height: 60rem;
  }
}

@media only screen and (max-width: 500px) {
  .main-left {
    height: 50rem;
  }
  .hero-content {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: none;
    justify-content: center;
  }
}

/******************** ABOUT US ********************/

.about-us {
  padding: 12rem 0;
}

.about-us-content {
  max-width: var(--width-container);
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
  padding: 0 2rem;
}

.about-us-left,
.about-us-right {
  flex: 1;
}

.about-us-content p {
  font-size: 1.4rem;
  margin-bottom: 2.5rem;
  line-height: 1.8;
  font-weight: 400;
}

.about-us-pictures {
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
}

.about-us-pictures img {
  flex: 1;
  min-width: 0;
}

.about-us-right .bg-video {
  height: auto;
}

@media only screen and (max-width: 768px) {
  .about-us-content {
    gap: 4rem;
  }
  .about-us-left,
  .about-us-right {
    flex: 1 1 100%;
  }
}

/******************** OUR MENU ********************/

.our-menu {
  background-color: var(--background-color-2);
  padding: 12rem 0;
}

.our-menu-text-content {
  max-width: var(--width-container);
  margin: 0 auto;
  padding: 0 2rem;
}

.our-menu-slider {
  max-width: 150rem;
  margin: 0 auto;
  margin-bottom: 4rem;
  overflow-x: hidden;
}

.our-menu-slider-container {
  display: flex;
  justify-content: flex-start;
  padding-top: 5rem;
}

.our-menu-slider-container.transition {
  transition: transform 0.15s;
}

.our-menu-slider-buttons {
  display: flex;
  justify-content: center;
  gap: 1.2rem;
}

.our-menu-slider-btn {
  padding: 0.8rem;
  cursor: pointer;
  background-color: transparent;
  border: none;
  opacity: 0.75;
  transition: opacity 0.5s;
}

.our-menu-slider-btn:hover {
  opacity: 1;
}

.our-menu-slider-btn i {
  color: var(--main-color);
  font-size: 2rem;
}

.cake-card-item {
  flex: 1 0 calc((100% / 5) - 1rem);
  min-height: 40rem;
  position: relative;
  color: var(--text-color-3);
  border-radius: 3px;
  overflow: hidden;
  margin-right: 1rem;
}

.cake-card-item:last-child {
  margin-right: 0;
}

.cake-card-item img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left;
}

.price {
  background-color: var(--background-color-4);
  width: 7rem;
  height: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: 700;
  border-radius: 3px;
}

.cake-card-item .card-price {
  position: absolute;
  top: 0;
  left: 0;
}

.cake-card-item .card-text-content {
  position: absolute;
  width: 100%;
  top: 100%;
  background-color: var(--background-color-4);
  padding: 2.8rem;
  transition: transform 0.5s ease-out;
}

.cake-card-item:hover .card-text-content {
  transform: translateY(-100%);
}

.card-text-content h4 {
  font-size: 2rem;
  margin-bottom: 1.8rem;
  text-transform: capitalize;
}

.card-text-content p {
  font-size: 1.4rem;
  line-height: 1.7;
}

/******************** OUR CHEFS ********************/

.our-chefs {
  background-color: var(--background-color-1);
  padding: 12rem 0;
}

.our-chefs-content {
  max-width: var(--width-container);
  margin: 0 auto;
  padding: 0 2rem;
}

.our-chefs-cards-container {
  display: flex;
  gap: 2rem;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.our-chefs-card {
  border: 1px solid rgb(163, 163, 163);
  border-radius: 3px;
  padding: 0.5rem;
  flex: 0 0 32rem;
  transition: border-color 0.3s;
}

.our-chefs-card-picture {
  display: block;
  position: relative;
}

.our-chefs-card img {
  display: block;
  width: 100%;
}

.social-icons-list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.our-chefs-card .social-icons-list {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 3px;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  transition: opacity 0.3s;
}

.social-icon-list-item a {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: background-color 0.3s;
}

.social-icon-list-item {
  margin-right: 1.2rem;
}

.social-icon-list-item:last-child {
  margin-right: 0;
}

.our-chefs-card .social-icon-list-item a {
  background-color: var(--background-color-2);
  color: var(--text-color-2);
}

.our-chefs-card .social-icon-list-item a:hover {
  background-color: var(--background-color-4);
}

.our-chefs-card:hover .social-icons-list {
  visibility: visible;
  opacity: 1;
}

.our-chefs-card h4 {
  text-align: center;
  font-size: 2rem;
  margin-top: 1.8rem;
  transition: color 0.3s;
}

.our-chefs-card:hover h4 {
  color: var(--text-color-1);
}

.our-chefs-card p {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 2.3rem;
}

.our-chefs-card:hover {
  border-color: var(--text-color-1);
}

@media only screen and (max-width: 500px) {
  .our-chefs-card {
    flex: 0 1 32rem;
  }
}

/******************** CONTACT US ********************/

.contact-us {
  background-image: url("../images/reservation-bg.jpg"),
    linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  padding: 12rem 0;
}

.contact-us-content {
  max-width: var(--width-container);
  margin: 0 auto;
  padding: 0 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contact-us-left {
  flex: 0 1 50%;
  color: var(--text-color-3);
}

.contact-cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  color: var(--text-color-2);
  margin-top: 6rem;
}

.contact-card {
  flex: 0 1 47%;
  background-color: var(--background-color-2);
  border-radius: 4px;
  padding-top: 5rem;
  padding-bottom: 2rem;
  position: relative;
}

.contact-card-icon {
  position: absolute;
  left: 50%;
  top: -2.5rem;
  transform: translateX(-50%);
  background-color: var(--background-color-4);
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  color: var(--text-color-3);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.4rem;
}

.contact-card h4 {
  font-size: 2rem;
  margin-bottom: 1.2rem;
}

.contact-card p {
  font-size: 1.4rem;
}

.contact-card > * {
  text-align: center;
}

.contact-us-right {
  flex: 0 1 45%;
  background-color: var(--background-color-2);
  border-radius: 4px;
  padding: 4rem 3rem;
}

.contact-us-right h3 {
  text-align: center;
  font-weight: 700;
  padding: 0;
  margin-bottom: 2rem;
}

.contact-us-form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact-us-form .input-field {
  flex: 0 1 calc(50% - 1rem);
}

.contact-us-form .input-field,
.contact-us-form textarea {
  min-width: 0;
  border-radius: 4px;
  border: 1px solid rgb(209, 209, 209);
  font-family: inherit;
  margin-bottom: 1.5rem;
  padding: 1.4rem 1.8rem;
  outline: none;
}

.contact-us-form .input-field:focus,
.contact-us-form textarea:focus {
  border-color: var(--text-color-1);
}

.contact-us-form textarea {
  flex: 0 1 100%;
  resize: none;
}

.btn-submit {
  flex: 0 1 100%;
  background-color: var(--background-color-4);
  color: var(--text-color-3);
}

.btn-submit:hover {
  opacity: 0.9;
  transition: opacity 0.3s;
}

@media only screen and (max-width: 1050px) {
  .contact-us-content {
    gap: 4rem;
  }
  .contact-us-left,
  .contact-us-right {
    flex: 0 1 100%;
  }
}

@media only screen and (max-width: 768px) {
  .contact-cards {
    gap: 6rem;
  }

  .contact-card {
    flex: 0 1 100%;
  }
}

@media only screen and (max-width: 600px) {
  .contact-us-right {
    padding: 2.5rem 1.8rem;
    min-width: 0;
  }

  .contact-us-form .input-field {
    flex: 0 1 100%;
    width: 100%;
  }
}
/******************** KLASSY WEEK ********************/

.klassy-week {
  background-color: var(--background-color-1);
  padding: 12rem 0;
}

.klassy-week-content {
  max-width: var(--width-container);
  margin: 0 auto;
  padding: 0 2rem;
}

.tab-selectors {
  display: flex;
  justify-content: center;
  gap: 1.6rem;
  margin-bottom: 5rem;
}

.btn-tab-selector {
  background-color: inherit;
  border: none;
  color: var(--text-color-1);
  flex: 0 1 10rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn-tab-selector.selected p {
  color: var(--text-color-1);
}

.btn-tab-selector img {
  margin-bottom: 1.5rem;
}

.btn-tab-selector p {
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--text-color-2);
  transition: color 0.3s;
}

.meals-content {
  display: none;
  justify-content: space-evenly;
  gap: 5rem 3rem;
  flex-wrap: wrap;
}

.meals-content.show {
  display: flex;
}

.meal-item {
  display: flex;
  flex: 0 1 48rem;
}

.meal-img img {
  border-radius: 0.5rem;
  width: 10rem;
  height: 10rem;
}

.meal-details {
  padding: 1.2rem 1.5rem;
}

.meal-details h4 {
  font-size: 2rem;
  margin-bottom: 0.6rem;
}

.meal-details p {
  font-size: 1.4rem;
}

.meal-price {
  color: var(--text-color-3);
  flex: 0 0 auto;
}

@media only screen and (max-width: 1050px) {
  .meal-item {
    flex: 0 1 60rem;
  }
}

/******************** FOOTER ********************/

.footer {
  background-color: var(--background-color-4);
}

.footer-content {
  max-width: var(--width-container);
  margin: 0 auto;
  padding: 5rem 2rem;
  display: flex;
  justify-content: space-between;
}

.footer-content .social-icon-list-item {
  margin-right: 1.5rem;
}

.footer-content .social-icon-list-item:last-child {
  margin-right: 0;
}

.footer-content .social-icon-list-item a {
  background-color: var(--background-color-1);
  color: var(--main-color);
  transition: color 0.3s;
}

.footer-content .social-icon-list-item a:hover {
  color: var(--text-color-2);
}

.footer-logo img {
  display: block;
}

.footer-copy {
  color: var(--text-color-3);
  font-size: 1.5rem;
}

@media only screen and (max-width: 900px) {
  .footer-content {
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
  }

  .footer-copy {
    text-align: center;
  }
}
